# .env file for SharePoint migration scripts
# Store sensitive configuration values here

SOURCE_SITE=https://tenant.sharepoint.com/sites/Source
TARGET_SITE=https://tenant.sharepoint.com/sites/Target
SOURCE_LIST=SourceList
TARGET_LIST=TargetList
CLIENT_ID=my-clientId-Id